nodered/.node-red-contrib-processcube-flows.json.backup
[
    {
        "id": "a23d2e782beb66f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd3c725340de4f74",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "405f8c703368777c",
        "type": "group",
        "z": "fd3c725340de4f74",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ec0be0ef92746967",
            "090d42845540049c",
            "846c5269df75c7a1",
            "4267576c32c782ec",
            "68cf69be67688af6",
            "bcfb8893adeb57ed"
        ],
        "x": 34,
        "y": 19,
        "w": 672,
        "h": 222
    },
    {
        "id": "d042a4c68f51d6ab",
        "type": "processcube-engine-config",
        "url": "http://engine:8000"
    },
    {
        "id": "84f18cf9bf25b858",
        "type": "openApi-red",
        "z": "a23d2e782beb66f4",
        "name": "Engine",
        "openApiUrl": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger",
        "configUrlNode": "",
        "api": "ExternalTasks",
        "server": "",
        "keepAuth": false,
        "alternServer": false,
        "operation": "get/external_tasks/deployed_topics",
        "operationData": {
            "description": "Fetches a list of all ExternalTask topics from all deployed Process Models.",
            "tags": [
                "ExternalTasks"
            ],
            "responses": {
                "200": {
                    "description": "A list of all ExternalTask topics from all deployed Process Models.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A list of all ExternalTask topics from all deployed Process Models.",
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "example": [
                                    "myTopic",
                                    "myOtherTopic",
                                    "myThirdTopic",
                                    "myFourthTopic"
                                ]
                            }
                        }
                    }
                }
            },
            "security": [
                {
                    "bearerAuth": []
                }
            ],
            "operationId": "get/external_tasks/deployed_topics",
            "withoutOriginalOpId": true,
            "pathName": "/external_tasks/deployed_topics",
            "method": "get",
            "path": "/external_tasks/deployed_topics"
        },
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false,
            "parameters": false
        },
        "parameters": [],
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "showDescription": true,
        "devMode": false,
        "outputs": 1,
        "_version": "1.2.5",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ee2e9eb1d613da90"
            ]
        ]
    },
    {
        "id": "ee2e9eb1d613da90",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "2d115b489271921f",
        "type": "inject",
        "z": "a23d2e782beb66f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "openApiToken",
                "v": "ZHVtbXlfdG9rZW4=",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "go",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "84f18cf9bf25b858"
            ]
        ]
    },
    {
        "id": "4c80d7de3e3b9e51",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "name": "processmodels",
        "engine": "d042a4c68f51d6ab",
        "topic": "processmodels",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "548bec9dd5260598"
            ]
        ]
    },
    {
        "id": "c2acc73b60c2efc6",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "name": "processmodels end",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "f0e993037904bc90",
        "type": "function",
        "z": "a23d2e782beb66f4",
        "name": "set access token",
        "func": "msg.openApiToken = \"ZHVtbXlfdG9rZW4=\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "8ddbc0d73cec1cdc",
                "3b1997a0ca78f819"
            ]
        ]
    },
    {
        "id": "8ddbc0d73cec1cdc",
        "type": "openApi-red",
        "z": "a23d2e782beb66f4",
        "name": "",
        "openApiUrl": "http://engine:8000/atlas_engine/api/v1/swagger",
        "configUrlNode": "",
        "api": "ProcessModels",
        "server": "",
        "keepAuth": false,
        "alternServer": false,
        "operation": "get/process_models",
        "operationData": {
            "description": "Gets all currently deployed Process Models.",
            "tags": [
                "ProcessModels"
            ],
            "responses": {
                "200": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A list of ProcessModels.",
                                "type": "object",
                                "required": [
                                    "processModels",
                                    "totalCount"
                                ],
                                "properties": {
                                    "processModels": {
                                        "description": "The ProcessModels.",
                                        "type": "array",
                                        "items": {
                                            "description": "A ProcessModel.",
                                            "type": "object",
                                            "required": [
                                                "processDefinitionId",
                                                "processModelId",
                                                "isExecutable",
                                                "startEvents",
                                                "endEvents",
                                                "flowNodes"
                                            ],
                                            "properties": {
                                                "processDefinitionId": {
                                                    "description": "The ID of the ProcessDefinition that contains the ProcessModel.",
                                                    "type": "string"
                                                },
                                                "processModelId": {
                                                    "description": "The ID of the ProcessModel.",
                                                    "type": "string"
                                                },
                                                "processModelName": {
                                                    "description": "The name of the ProcessModel.",
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The version of the ProcessModel.",
                                                    "type": "string"
                                                },
                                                "isExecutable": {
                                                    "description": "A flag indicating whether the ProcessModel can be started.",
                                                    "type": "boolean"
                                                },
                                                "startEvents": {
                                                    "description": "The StartEvents contained in the ProcessModel.",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A StartEvent.",
                                                        "type": "object",
                                                        "required": [
                                                            "id",
                                                            "customProperties",
                                                            "processModelId"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "description": "The ID of the BaseElement."
                                                            },
                                                            "customProperties": {
                                                                "type": "object",
                                                                "description": "The custom properties of the BaseElement.",
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "documentation": {
                                                                "type": "array",
                                                                "description": "The documentation of the BaseElement.",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "processModelId": {
                                                                "type": "string",
                                                                "description": "The ID of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "processModelName": {
                                                                "type": "string",
                                                                "description": "The name of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "name": {
                                                                "description": "The name of the FlowNode.",
                                                                "type": "string"
                                                            },
                                                            "flowNodeType": {
                                                                "description": "The type of a BPMN element.",
                                                                "type": "string",
                                                                "enum": [
                                                                    "bpmn:Task",
                                                                    "bpmn:BusinessRuleTask",
                                                                    "bpmn:UserTask",
                                                                    "bpmn:ExclusiveGateway",
                                                                    "bpmn:ParallelGateway",
                                                                    "bpmn:ServiceTask",
                                                                    "bpmn:StartEvent",
                                                                    "bpmn:EndEvent",
                                                                    "bpmn:IntermediateCatchEvent",
                                                                    "bpmn:IntermediateThrowEvent",
                                                                    "bpmn:ScriptTask",
                                                                    "bpmn:BoundaryEvent",
                                                                    "bpmn:CallActivity",
                                                                    "bpmn:SubProcess",
                                                                    "bpmn:ManualTask",
                                                                    "bpmn:ComplexGateway",
                                                                    "bpmn:InclusiveGateway",
                                                                    "bpmn:EventBasedGateway",
                                                                    "bpmn:SendTask",
                                                                    "bpmn:ReceiveTask"
                                                                ],
                                                                "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/BpmnType"
                                                            },
                                                            "timerType": {
                                                                "description": "The type of the timer.",
                                                                "type": "string"
                                                            },
                                                            "timerValue": {
                                                                "description": "The value of the timer.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/StartEventViewModel"
                                                    }
                                                },
                                                "endEvents": {
                                                    "description": "The EndEvents contained in the ProcessModel.",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "An EndEvent.",
                                                        "type": "object",
                                                        "required": [
                                                            "id",
                                                            "customProperties",
                                                            "processModelId"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "description": "The ID of the BaseElement."
                                                            },
                                                            "customProperties": {
                                                                "type": "object",
                                                                "description": "The custom properties of the BaseElement.",
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "documentation": {
                                                                "type": "array",
                                                                "description": "The documentation of the BaseElement.",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "processModelId": {
                                                                "type": "string",
                                                                "description": "The ID of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "processModelName": {
                                                                "type": "string",
                                                                "description": "The name of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "name": {
                                                                "description": "The name of the FlowNode.",
                                                                "type": "string"
                                                            },
                                                            "flowNodeType": {
                                                                "description": "The type of a BPMN element.",
                                                                "type": "string",
                                                                "enum": [
                                                                    "bpmn:Task",
                                                                    "bpmn:BusinessRuleTask",
                                                                    "bpmn:UserTask",
                                                                    "bpmn:ExclusiveGateway",
                                                                    "bpmn:ParallelGateway",
                                                                    "bpmn:ServiceTask",
                                                                    "bpmn:StartEvent",
                                                                    "bpmn:EndEvent",
                                                                    "bpmn:IntermediateCatchEvent",
                                                                    "bpmn:IntermediateThrowEvent",
                                                                    "bpmn:ScriptTask",
                                                                    "bpmn:BoundaryEvent",
                                                                    "bpmn:CallActivity",
                                                                    "bpmn:SubProcess",
                                                                    "bpmn:ManualTask",
                                                                    "bpmn:ComplexGateway",
                                                                    "bpmn:InclusiveGateway",
                                                                    "bpmn:EventBasedGateway",
                                                                    "bpmn:SendTask",
                                                                    "bpmn:ReceiveTask"
                                                                ],
                                                                "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/BpmnType"
                                                            },
                                                            "errorName": {
                                                                "description": "The name of the error.",
                                                                "type": "string"
                                                            },
                                                            "errorCode": {
                                                                "description": "The code of the error.",
                                                                "type": "string"
                                                            },
                                                            "errorMessage": {
                                                                "description": "The message of the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/EndEventViewModel"
                                                    }
                                                },
                                                "flowNodes": {
                                                    "description": "The FlowNodes contained in the ProcessModel.",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A FlowNode.",
                                                        "type": "object",
                                                        "required": [
                                                            "id",
                                                            "customProperties",
                                                            "processModelId"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "description": "The ID of the BaseElement."
                                                            },
                                                            "customProperties": {
                                                                "type": "object",
                                                                "description": "The custom properties of the BaseElement.",
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "documentation": {
                                                                "type": "array",
                                                                "description": "The documentation of the BaseElement.",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "processModelId": {
                                                                "type": "string",
                                                                "description": "The ID of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "processModelName": {
                                                                "type": "string",
                                                                "description": "The name of the ProcessModel that contains the BaseElement."
                                                            },
                                                            "name": {
                                                                "description": "The name of the FlowNode.",
                                                                "type": "string"
                                                            },
                                                            "flowNodeType": {
                                                                "description": "The type of a BPMN element.",
                                                                "type": "string",
                                                                "enum": [
                                                                    "bpmn:Task",
                                                                    "bpmn:BusinessRuleTask",
                                                                    "bpmn:UserTask",
                                                                    "bpmn:ExclusiveGateway",
                                                                    "bpmn:ParallelGateway",
                                                                    "bpmn:ServiceTask",
                                                                    "bpmn:StartEvent",
                                                                    "bpmn:EndEvent",
                                                                    "bpmn:IntermediateCatchEvent",
                                                                    "bpmn:IntermediateThrowEvent",
                                                                    "bpmn:ScriptTask",
                                                                    "bpmn:BoundaryEvent",
                                                                    "bpmn:CallActivity",
                                                                    "bpmn:SubProcess",
                                                                    "bpmn:ManualTask",
                                                                    "bpmn:ComplexGateway",
                                                                    "bpmn:InclusiveGateway",
                                                                    "bpmn:EventBasedGateway",
                                                                    "bpmn:SendTask",
                                                                    "bpmn:ReceiveTask"
                                                                ],
                                                                "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/BpmnType"
                                                            }
                                                        },
                                                        "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/FlowNodeViewModel"
                                                    }
                                                }
                                            },
                                            "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/ProcessModel"
                                        }
                                    },
                                    "totalCount": {
                                        "description": "The total number of ProcessModels.",
                                        "type": "number"
                                    }
                                },
                                "$$ref": "http://192.168.178.145:56100/atlas_engine/api/v1/swagger#/components/schemas/ProcessModelList"
                            }
                        }
                    }
                }
            },
            "security": [
                {
                    "bearerAuth": []
                }
            ],
            "operationId": "get/process_models",
            "withoutOriginalOpId": true,
            "pathName": "/process_models",
            "method": "get",
            "path": "/process_models"
        },
        "errorHandling": "throw exception",
        "internalErrors": {
            "readUrl": false
        },
        "parameters": [],
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "showDescription": true,
        "devMode": false,
        "outputs": 1,
        "_version": "1.2.5",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "c2acc73b60c2efc6",
                "5027f959a5839630",
                "c5a5fd3f9c76acf6"
            ]
        ]
    },
    {
        "id": "3b1997a0ca78f819",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "5027f959a5839630",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "548bec9dd5260598",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "f0e993037904bc90"
            ]
        ]
    },
    {
        "id": "2991a5e6df2b87d2",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "name": "Test",
        "engine": "d042a4c68f51d6ab",
        "topic": "Test",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "d56bb7cd73fd220c",
                "75c7bb5cc34e354a"
            ]
        ]
    },
    {
        "id": "911fde53bcbb7e3f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "name": "Test Ende",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "d56bb7cd73fd220c",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "911fde53bcbb7e3f",
                "69aec57d8bb00292"
            ]
        ]
    },
    {
        "id": "75c7bb5cc34e354a",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 680,
        "wires": []
    },
    {
        "id": "c5a5fd3f9c76acf6",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "externalTaskId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "69aec57d8bb00292",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "externalTaskId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "fe0eb72aeb3ebbc2",
        "type": "process-start",
        "z": "a23d2e782beb66f4",
        "name": "start Process \"Hello world\"",
        "engine": "d042a4c68f51d6ab",
        "processmodel": "HelloWorld_Process",
        "startevent": "StartEvent_1",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "1686330823da3f45"
            ]
        ]
    },
    {
        "id": "64f430c40bc1f75b",
        "type": "http in",
        "z": "a23d2e782beb66f4",
        "name": "",
        "url": "/start_process",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "54731bdfca83ceda",
                "fe0eb72aeb3ebbc2"
            ]
        ]
    },
    {
        "id": "54731bdfca83ceda",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "1686330823da3f45",
        "type": "http response",
        "z": "a23d2e782beb66f4",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "18e05d562d48f32d",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "name": "SampleError",
        "engine": "d042a4c68f51d6ab",
        "topic": "SampleError",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "49aee03a7885fae8"
            ]
        ]
    },
    {
        "id": "49aee03a7885fae8",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 840,
        "wires": [
            [
                "bd68c4bdc53b8f80"
            ]
        ]
    },
    {
        "id": "e4555d9019cd3f47",
        "type": "catch",
        "z": "a23d2e782beb66f4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 960,
        "wires": [
            [
                "fa1c26d470c38efd",
                "019797b5a0882e7b",
                "fb87f79852b22e4a"
            ]
        ]
    },
    {
        "id": "bd68c4bdc53b8f80",
        "type": "function",
        "z": "a23d2e782beb66f4",
        "name": "function 1",
        "func": "throw Error(\"hello error\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 840,
        "wires": [
            [
                "1ba1e62c9935255f"
            ]
        ]
    },
    {
        "id": "fa1c26d470c38efd",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "019797b5a0882e7b",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "externalTaskId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fb87f79852b22e4a",
        "type": "externaltask-error",
        "z": "a23d2e782beb66f4",
        "name": "",
        "error": "MyErrorCode",
        "x": 610,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1ba1e62c9935255f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "name": "",
        "x": 770,
        "y": 840,
        "wires": []
    },
    {
        "id": "ec0be0ef92746967",
        "type": "usertask-input",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "",
        "engine": "d042a4c68f51d6ab",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "090d42845540049c",
                "846c5269df75c7a1"
            ]
        ]
    },
    {
        "id": "090d42845540049c",
        "type": "debug",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "846c5269df75c7a1",
        "type": "function",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "function 2",
        "func": "msg.payload = {\n    \"hello\": \"world\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "68cf69be67688af6",
                "4267576c32c782ec"
            ]
        ]
    },
    {
        "id": "4267576c32c782ec",
        "type": "usertask-output",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "",
        "engine": "d042a4c68f51d6ab",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "68cf69be67688af6",
        "type": "debug",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "bcfb8893adeb57ed",
        "type": "comment",
        "z": "fd3c725340de4f74",
        "g": "405f8c703368777c",
        "name": "Beispiel für UserTask",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    }
]