nodered/node-red-contrib-processcube-flows.json
[
    {
        "id": "3f916448523ed12b",
        "type": "tab",
        "label": "Node-Inspector",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a23d2e782beb66f4",
        "type": "tab",
        "label": "External Task Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd3c725340de4f74",
        "type": "tab",
        "label": "User Task Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d27ab4d14b947e9",
        "type": "tab",
        "label": "Instances Query Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f28ae6aa3a05069e",
        "type": "tab",
        "label": "Definition Query Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c59118134081e05",
        "type": "group",
        "z": "f28ae6aa3a05069e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d97caca0ec54a633",
            "f74139117c9dab27",
            "5539a5c4c0f9cbe2",
            "a8e2b5a6ca25c924"
        ],
        "x": 14,
        "y": 39,
        "w": 592,
        "h": 142
    },
    {
        "id": "f1d4eaed7570324e",
        "type": "group",
        "z": "f28ae6aa3a05069e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bcc97a73cff5a086",
            "b418463be836efbb",
            "0633b709dd9c166f",
            "fbb37831549d41ff"
        ],
        "x": 14,
        "y": 219,
        "w": 572,
        "h": 142
    },
    {
        "id": "70d7a70e375b162a",
        "type": "group",
        "z": "a23d2e782beb66f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2991a5e6df2b87d2",
            "911fde53bcbb7e3f",
            "d56bb7cd73fd220c",
            "15a5f64b9e2e05fc"
        ],
        "x": 34,
        "y": 79,
        "w": 512,
        "h": 142
    },
    {
        "id": "31cb6729aac0ba46",
        "type": "group",
        "z": "a23d2e782beb66f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "18e05d562d48f32d",
            "49aee03a7885fae8",
            "e4555d9019cd3f47",
            "bd68c4bdc53b8f80",
            "fb87f79852b22e4a",
            "1ba1e62c9935255f",
            "b49f226ba865e164"
        ],
        "x": 34,
        "y": 259,
        "w": 812,
        "h": 202
    },
    {
        "id": "dd43902998ad7630",
        "type": "group",
        "z": "3f916448523ed12b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3add02d7.7df60e",
            "8cf9f9cd.1a6a88",
            "4b2a8ca1.de70e4",
            "97dbbfedba44a728"
        ],
        "x": 34,
        "y": 59,
        "w": 712,
        "h": 202
    },
    {
        "id": "390ad4a596a3c002",
        "type": "group",
        "z": "a23d2e782beb66f4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "529b24c862f7039d",
            "f4011d6a57c6e13f",
            "fba605329413c78d",
            "5e5394e458d1de7c",
            "18e9e15ef645a908",
            "eb96f3128ece1be8"
        ],
        "x": 34,
        "y": 499,
        "w": 832,
        "h": 202
    },
    {
        "id": "887f3fb69ad1d1fb",
        "type": "group",
        "z": "fd3c725340de4f74",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f7a9604a17188737",
            "020d34cd4ab43900",
            "1db0ae57c1b8486b",
            "127bc6e092c5724e"
        ],
        "x": 34,
        "y": 19,
        "w": 452,
        "h": 202
    },
    {
        "id": "72d3db13edc2486b",
        "type": "group",
        "z": "fd3c725340de4f74",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae0583e83c762956",
            "f7c7682e3a6adaaa",
            "a2fb6369b16c12fa",
            "8ef39e83173d41e3",
            "f524b8cc35d56849",
            "9fb4017c1d0ac7c9"
        ],
        "x": 34,
        "y": 259,
        "w": 652,
        "h": 262
    },
    {
        "id": "a71a168415778e2c",
        "type": "group",
        "z": "5d27ab4d14b947e9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "baa5d814f2e1f1d8",
            "2af2c5031c617e3d",
            "81af643792f131f0",
            "2166b0f822b3e71d"
        ],
        "x": 34,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "42e6796dddd9d4db",
        "type": "processcube-engine-config",
        "url": "http://engine:8000"
    },
    {
        "id": "3add02d7.7df60e",
        "type": "node-inspector",
        "z": "3f916448523ed12b",
        "g": "dd43902998ad7630",
        "inputField": "payload",
        "host": "0.0.0.0",
        "portNumber": 9229,
        "autoStart": false,
        "name": "",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "8cf9f9cd.1a6a88",
        "type": "inject",
        "z": "3f916448523ed12b",
        "g": "dd43902998ad7630",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "open_inspector",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "3add02d7.7df60e"
            ]
        ]
    },
    {
        "id": "4b2a8ca1.de70e4",
        "type": "inject",
        "z": "3f916448523ed12b",
        "g": "dd43902998ad7630",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "close_inspector",
        "payloadType": "str",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "3add02d7.7df60e"
            ]
        ]
    },
    {
        "id": "97dbbfedba44a728",
        "type": "comment",
        "z": "3f916448523ed12b",
        "g": "dd43902998ad7630",
        "name": "Start Node-Inspector on Port 9229 - be sure, that you expose the port from the docker-container",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "2991a5e6df2b87d2",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "g": "70d7a70e375b162a",
        "name": "Test",
        "engine": "42e6796dddd9d4db",
        "topic": "Test",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "d56bb7cd73fd220c"
            ]
        ]
    },
    {
        "id": "911fde53bcbb7e3f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "g": "70d7a70e375b162a",
        "name": "Test Ende",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "d56bb7cd73fd220c",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "g": "70d7a70e375b162a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "911fde53bcbb7e3f"
            ]
        ]
    },
    {
        "id": "18e05d562d48f32d",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "SampleError",
        "engine": "42e6796dddd9d4db",
        "topic": "SampleError",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "49aee03a7885fae8"
            ]
        ]
    },
    {
        "id": "49aee03a7885fae8",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "bd68c4bdc53b8f80"
            ]
        ]
    },
    {
        "id": "e4555d9019cd3f47",
        "type": "catch",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "",
        "scope": "group",
        "uncaught": false,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "fb87f79852b22e4a"
            ]
        ]
    },
    {
        "id": "bd68c4bdc53b8f80",
        "type": "function",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "raise Error",
        "func": "throw Error(\"hello error\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "1ba1e62c9935255f"
            ]
        ]
    },
    {
        "id": "fb87f79852b22e4a",
        "type": "externaltask-error",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "Send Error to Engine",
        "error": "MyErrorCode",
        "x": 720,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba1e62c9935255f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "15a5f64b9e2e05fc",
        "type": "comment",
        "z": "a23d2e782beb66f4",
        "g": "70d7a70e375b162a",
        "name": "Simple External Task handling",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "b49f226ba865e164",
        "type": "comment",
        "z": "a23d2e782beb66f4",
        "g": "31cb6729aac0ba46",
        "name": "Error handling with external tasks",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    },
    {
        "id": "799125e21de02f13",
        "type": "comment",
        "z": "a23d2e782beb66f4",
        "name": "For Testing, deploy \"External-Task-Sample.bpmn\" and start the process.",
        "info": "",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "529b24c862f7039d",
        "type": "endevent-finished-listener",
        "z": "a23d2e782beb66f4",
        "d": true,
        "g": "390ad4a596a3c002",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "f4011d6a57c6e13f"
            ]
        ]
    },
    {
        "id": "f4011d6a57c6e13f",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "g": "390ad4a596a3c002",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "18e9e15ef645a908"
            ]
        ]
    },
    {
        "id": "fba605329413c78d",
        "type": "process-start",
        "z": "a23d2e782beb66f4",
        "g": "390ad4a596a3c002",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "processmodel": "External-Task-Sample_Process",
        "startevent": "StartEvent_1",
        "x": 770,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5e5394e458d1de7c",
        "type": "inject",
        "z": "a23d2e782beb66f4",
        "g": "390ad4a596a3c002",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "18e9e15ef645a908"
            ]
        ]
    },
    {
        "id": "18e9e15ef645a908",
        "type": "function",
        "z": "a23d2e782beb66f4",
        "g": "390ad4a596a3c002",
        "name": "pre payload",
        "func": "msg.payload = {\n    \"hello\": \"world\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "fba605329413c78d"
            ]
        ]
    },
    {
        "id": "eb96f3128ece1be8",
        "type": "comment",
        "z": "a23d2e782beb66f4",
        "g": "390ad4a596a3c002",
        "name": "Start of Process and restart if it is finished",
        "info": "",
        "x": 220,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7a9604a17188737",
        "type": "usertask-new-listener",
        "z": "fd3c725340de4f74",
        "d": true,
        "g": "887f3fb69ad1d1fb",
        "name": "New User Task",
        "engine": "42e6796dddd9d4db",
        "multisend": false,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "020d34cd4ab43900"
            ]
        ]
    },
    {
        "id": "020d34cd4ab43900",
        "type": "debug",
        "z": "fd3c725340de4f74",
        "g": "887f3fb69ad1d1fb",
        "name": "Show User Task",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "1db0ae57c1b8486b",
        "type": "usertask-finished-listener",
        "z": "fd3c725340de4f74",
        "g": "887f3fb69ad1d1fb",
        "name": "Finished User Task",
        "engine": "42e6796dddd9d4db",
        "multisend": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "020d34cd4ab43900"
            ]
        ]
    },
    {
        "id": "127bc6e092c5724e",
        "type": "comment",
        "z": "fd3c725340de4f74",
        "g": "887f3fb69ad1d1fb",
        "name": "User Task Events",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "ae0583e83c762956",
        "type": "usertask-new-listener",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "multisend": true,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "a2fb6369b16c12fa"
            ]
        ]
    },
    {
        "id": "f7c7682e3a6adaaa",
        "type": "usertask-input",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "query": "payload",
        "query_type": "msg",
        "force_send_array": false,
        "multisend": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "8ef39e83173d41e3"
            ]
        ]
    },
    {
        "id": "a2fb6369b16c12fa",
        "type": "function",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "query",
        "func": "msg.payload = {\n    flowNodeInstanceId: msg.payload.flowNodeInstanceId,\n    flowNodeId: \"user_task\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "f7c7682e3a6adaaa"
            ]
        ]
    },
    {
        "id": "8ef39e83173d41e3",
        "type": "function",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "build result",
        "func": "msg.payload.result = {\n    \"field_01\": \"value 01\",\n    \"field_02\": \"value 02\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "f524b8cc35d56849"
            ]
        ]
    },
    {
        "id": "f524b8cc35d56849",
        "type": "usertask-output",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "result": "payload.result",
        "result_type": "msg",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9fb4017c1d0ac7c9",
        "type": "comment",
        "z": "fd3c725340de4f74",
        "g": "72d3db13edc2486b",
        "name": "Demo to listen on a new usertask an finish them",
        "info": "",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "baa5d814f2e1f1d8",
        "type": "processinstance-query",
        "z": "5d27ab4d14b947e9",
        "g": "a71a168415778e2c",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "2af2c5031c617e3d"
            ]
        ]
    },
    {
        "id": "2af2c5031c617e3d",
        "type": "debug",
        "z": "5d27ab4d14b947e9",
        "g": "a71a168415778e2c",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "81af643792f131f0",
        "type": "inject",
        "z": "5d27ab4d14b947e9",
        "g": "a71a168415778e2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "go",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "baa5d814f2e1f1d8"
            ]
        ]
    },
    {
        "id": "2166b0f822b3e71d",
        "type": "comment",
        "z": "5d27ab4d14b947e9",
        "g": "a71a168415778e2c",
        "name": "Query all processinstances from the engine, see the config of `processinstance-query`",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "d97caca0ec54a633",
        "type": "processdefinition-query",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "Query definitions",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "models_only": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "5539a5c4c0f9cbe2"
            ]
        ]
    },
    {
        "id": "f74139117c9dab27",
        "type": "inject",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "d97caca0ec54a633"
            ]
        ]
    },
    {
        "id": "5539a5c4c0f9cbe2",
        "type": "debug",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "bcc97a73cff5a086",
        "type": "processdefinition-query",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "Query models",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "models_only": true,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "0633b709dd9c166f"
            ]
        ]
    },
    {
        "id": "b418463be836efbb",
        "type": "inject",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "bcc97a73cff5a086"
            ]
        ]
    },
    {
        "id": "0633b709dd9c166f",
        "type": "debug",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "a8e2b5a6ca25c924",
        "type": "comment",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "Definitions",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbb37831549d41ff",
        "type": "comment",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "Models",
        "info": "",
        "x": 90,
        "y": 260,
        "wires": []
    }
]