nodered/node-red-contrib-processcube-flows.json
[
    {
        "id": "a23d2e782beb66f4",
        "type": "tab",
        "label": "ExternalTasks",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd3c725340de4f74",
        "type": "tab",
        "label": "UserTasks",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d27ab4d14b947e9",
        "type": "tab",
        "label": "Process Instances",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f28ae6aa3a05069e",
        "type": "tab",
        "label": "Process Definitions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c59118134081e05",
        "type": "group",
        "z": "f28ae6aa3a05069e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d97caca0ec54a633",
            "f74139117c9dab27",
            "5539a5c4c0f9cbe2",
            "a8e2b5a6ca25c924"
        ],
        "x": 14,
        "y": 39,
        "w": 592,
        "h": 142
    },
    {
        "id": "f1d4eaed7570324e",
        "type": "group",
        "z": "f28ae6aa3a05069e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bcc97a73cff5a086",
            "b418463be836efbb",
            "0633b709dd9c166f",
            "fbb37831549d41ff"
        ],
        "x": 14,
        "y": 219,
        "w": 572,
        "h": 142
    },
    {
        "id": "42e6796dddd9d4db",
        "type": "processcube-engine-config",
        "url": "http://engine:8000"
    },
    {
        "id": "2991a5e6df2b87d2",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "name": "Test",
        "engine": "42e6796dddd9d4db",
        "topic": "Test",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "d56bb7cd73fd220c",
                "75c7bb5cc34e354a"
            ]
        ]
    },
    {
        "id": "911fde53bcbb7e3f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "name": "Test Ende",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "d56bb7cd73fd220c",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "911fde53bcbb7e3f",
                "69aec57d8bb00292"
            ]
        ]
    },
    {
        "id": "75c7bb5cc34e354a",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 480,
        "wires": []
    },
    {
        "id": "69aec57d8bb00292",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "externalTaskId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "18e05d562d48f32d",
        "type": "externaltask-input",
        "z": "a23d2e782beb66f4",
        "name": "SampleError",
        "engine": "42e6796dddd9d4db",
        "topic": "SampleError",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "49aee03a7885fae8"
            ]
        ]
    },
    {
        "id": "49aee03a7885fae8",
        "type": "delay",
        "z": "a23d2e782beb66f4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "bd68c4bdc53b8f80"
            ]
        ]
    },
    {
        "id": "e4555d9019cd3f47",
        "type": "catch",
        "z": "a23d2e782beb66f4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "fa1c26d470c38efd",
                "019797b5a0882e7b",
                "fb87f79852b22e4a"
            ]
        ]
    },
    {
        "id": "bd68c4bdc53b8f80",
        "type": "function",
        "z": "a23d2e782beb66f4",
        "name": "function 1",
        "func": "throw Error(\"hello error\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "1ba1e62c9935255f"
            ]
        ]
    },
    {
        "id": "fa1c26d470c38efd",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "019797b5a0882e7b",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "externalTaskId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "fb87f79852b22e4a",
        "type": "externaltask-error",
        "z": "a23d2e782beb66f4",
        "name": "Fehler",
        "error": "MyErrorCode",
        "x": 570,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba1e62c9935255f",
        "type": "externaltask-output",
        "z": "a23d2e782beb66f4",
        "name": "",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "c18723294975e975",
        "type": "inject",
        "z": "a23d2e782beb66f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "eventName",
                "v": "sampleEvent",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \t}",
        "payloadType": "jsonata",
        "x": 190,
        "y": 1200,
        "wires": [
            [
                "ddcde0ab7abfb8af"
            ]
        ]
    },
    {
        "id": "ddcde0ab7abfb8af",
        "type": "debug",
        "z": "a23d2e782beb66f4",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f7a9604a17188737",
        "type": "usertask-new-listener",
        "z": "fd3c725340de4f74",
        "name": "New User Task",
        "engine": "42e6796dddd9d4db",
        "multisend": false,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "020d34cd4ab43900"
            ]
        ]
    },
    {
        "id": "020d34cd4ab43900",
        "type": "debug",
        "z": "fd3c725340de4f74",
        "name": "Show User Task",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "1db0ae57c1b8486b",
        "type": "usertask-finished-listener",
        "z": "fd3c725340de4f74",
        "name": "Finished User Task",
        "engine": "42e6796dddd9d4db",
        "multisend": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "020d34cd4ab43900"
            ]
        ]
    },
    {
        "id": "baa5d814f2e1f1d8",
        "type": "processinstance-query",
        "z": "5d27ab4d14b947e9",
        "name": "",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "2af2c5031c617e3d"
            ]
        ]
    },
    {
        "id": "2af2c5031c617e3d",
        "type": "debug",
        "z": "5d27ab4d14b947e9",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "81af643792f131f0",
        "type": "inject",
        "z": "5d27ab4d14b947e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "baa5d814f2e1f1d8"
            ]
        ]
    },
    {
        "id": "d97caca0ec54a633",
        "type": "processdefinition-query",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "Query definitions",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "models_only": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "5539a5c4c0f9cbe2"
            ]
        ]
    },
    {
        "id": "f74139117c9dab27",
        "type": "inject",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "d97caca0ec54a633"
            ]
        ]
    },
    {
        "id": "5539a5c4c0f9cbe2",
        "type": "debug",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "bcc97a73cff5a086",
        "type": "processdefinition-query",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "Query models",
        "engine": "42e6796dddd9d4db",
        "query": "{\"includeXml\":false}",
        "query_type": "json",
        "models_only": true,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "0633b709dd9c166f"
            ]
        ]
    },
    {
        "id": "b418463be836efbb",
        "type": "inject",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "bcc97a73cff5a086"
            ]
        ]
    },
    {
        "id": "0633b709dd9c166f",
        "type": "debug",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "a8e2b5a6ca25c924",
        "type": "comment",
        "z": "f28ae6aa3a05069e",
        "g": "4c59118134081e05",
        "name": "Definitions",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbb37831549d41ff",
        "type": "comment",
        "z": "f28ae6aa3a05069e",
        "g": "f1d4eaed7570324e",
        "name": "Models",
        "info": "",
        "x": 90,
        "y": 260,
        "wires": []
    }
]