examples/Process-Terminate-Sample.json
[
    {
        "id": "e0221ca7bcc43410",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddcbcb47a30846cc",
        "type": "debug",
        "z": "e0221ca7bcc43410",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "7bf175249a1e4191",
        "type": "process-terminate",
        "z": "e0221ca7bcc43410",
        "name": "",
        "engine": "4cd9b529f03e5d07",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "ddcbcb47a30846cc"
            ]
        ]
    },
    {
        "id": "0a92212597eeb5b8",
        "type": "inject",
        "z": "e0221ca7bcc43410",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TheProcessInstanceIdGoesHere",
        "payloadType": "str",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "7bf175249a1e4191"
            ]
        ]
    },
    {
        "id": "4cd9b529f03e5d07",
        "type": "processcube-engine-config",
        "name": "",
        "url": "http://engine:8000"
    }
]
